---
import Layout from "@/layouts/Layout.astro";
import DateInput from "@/components/svelte/dateinput.svelte"
import Acceptlistv2 from "@/components/svelte/acceptlistv2.svelte"
const path = "."
---

<Layout title="dashboard" path = {path} page="index">
	<main class="app-main"> <!--begin::App Content Header-->
        <div class="app-content-header"> <!--begin::Container-->
            <div class="container-fluid"> <!--begin::Row-->
                <div class="row">
                    <div class="col-sm-6">
                      <DateInput client:only="svelte" />
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-end">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">
                                nottime
                            </li>
                            <li>
                                
                            </li>
                        </ol>
                    </div>

                </div> <!--end::Row-->
            </div> <!--end::Container-->
        </div> <!--end::App Content Header--> <!--begin::App Content-->
        <div class="app-content"> <!--begin::Container-->
            <div class="container-fluid"> <!--begin::Row-->
              <Acceptlistv2 client:only="svelte" />
                <div class="container-fluid"> 
                  <div class="row">
                    
                  </div>
                  <div class="row">
                    <div class="row mt-3">
                    </div>
                  </div>
                  <div class="row">
                    <div class="row mt-3">
                      <!--
                        <ChartComp client:only="vue" />
                       -->
                      
                    </div>
                  </div>
                </div>
            </div> 

            </div> <!--end::Container-->
        </div> <!--end::App Content-->
    </main> <!--end::App Main--> <!--begin::Footer-->
</Layout>

<!-- OPTIONAL SCRIPTS -->
    <!-- filemaker perform -->

    <script is:inline>
      function CallFileMaker(str){
        console.log("CallFileMaker1",str)
        
        return
      }
      console.log("CallFileMaker2")
    </script>

 